# Ignore everything by default
*

# But track .todo files in subdirectories
!/.todo
!*/.todo
!**/.todo

# Track GlobalTasks.todo at repo root
!/GlobalTasks.todo

# Keep this .gitignore file
!.gitignore